<svg>
  <symbol id="s-text">
    <text
      id="animate_text"
      text-anchor="middle"
      x="50%"
      y="50%"
      class="webcoderskull"
    >
      {{ this.currentTime }}
    </text>
  </symbol>
  <g class="g-ants">
    <use xlink:href="#s-text" class="webcoderskull-1"></use>
    <use xlink:href="#s-text" class="webcoderskull-1"></use>
    <use xlink:href="#s-text" class="webcoderskull-1"></use>
    <use xlink:href="#s-text" class="webcoderskull-1"></use>
    <use xlink:href="#s-text" class="webcoderskull-1"></use>
  </g>
</svg>
