<!-- <div id="wrapper">
  <div id="banner">
    <span class="title">{{ this.title }}</span>
  </div>
  <div id="main-container">
    <div id="left-container">
      <app-data-table
        [cols]="lastYearRankingsTableModel"
        [data]="lastYearRankings"
      ></app-data-table>
    </div>
    <div id="center-container">
      <div id="ticker-container">
        <marquee>
          <span class="ticker-string">{{ tickerString }}</span>
        </marquee>
      </div>
      <div id="image-container">
        <app-timer
          *ngIf="currentTime < roundTime - 5"
          [currentTime]="currentFriendlyTime"
        ></app-timer>
        <img
          *ngIf="!!currSelection"
          class="image-animation"
          [src]="currSelection?.userImage"
        />
        <img
          *ngIf="!!!currSelection"
          src="https://i.ya-webdesign.com/images/nfl-fantasy-football-png-16.png"
        />
      </div>
    </div>
    <div id="right-container">
      <app-data-table
        *ngIf="alreadySelected?.any()"
        [cols]="alreadySelectedTableModel"
        [data]="alreadySelected"
      ></app-data-table>
    </div>
  </div>
</div>
<app-confetti></app-confetti>

 Pre-load all the images to prevent delay
 <section style="display: none">
  <ng-container *ngFor="let img of lotteryResult">
    <img src="{{ img.userImage }}" />
  </ng-container>
</section> -->
