@import "./vars.scss";

html,
form,
#wrapper,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: mat-color($my-palette, "darker");
}
button {
  width: 100%;
  text-align: center;
}
